<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All shirts</title>
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/shirts/new">Add A New Shirt</a>


    <h1>Here are all shirts</h1>
    <br>
    <h2>What you want to buy:</h2>
    <ol>
        <% allShirts.forEach((shirt) => { %>
            <% if (shirt.wantedToBuy) { %>
                <li><b>Type:</b> <%= shirt.type %>;   
                    <b>Color:</b> <%= shirt.color %>; 
                    <b>Brand:</b> <%= shirt.brand %>; 
                    <b>Price:</b> $<%= shirt.price %>;
                    <b>Website:</b> <a href="<%=shirt.website %>" target="_blank">Link</a>
                    <br> <br>
                    <b>Reason (not) to buy:</b> <%= shirt.reason %>
                    <br><br><br><br>
                </li>
            <% } %>
        <% }) %>
    </ol>
    <hr>
    <h2>What you DO NOT want to buy:</h2>
    <ol>
        <% allShirts.forEach((shirt) => { %>
            <% if (!shirt.wantedToBuy) { %>
                <li><b>Type:</b> <%= shirt.type %>;   
                    <b>Color:</b> <%= shirt.color %>; 
                    <b>Brand:</b> <%= shirt.brand %>; 
                    <b>Price:</b> $<%= shirt.price %>;
                    <b>Website:</b> <a href="<%=shirt.website %>" target="_blank">Link</a>
                    <br> <br>
                    <b>Reason (not) to buy:</b> <%= shirt.reason %>
                    <br><br><br><br>
                </li>
            <% } %>
        <% }) %>
    </ol>
    
</body>
</html>