<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All shirts</title>
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/shirts/new">Add A New Shirt</a>


    <h1>Here are all shirts:</h1>
    <br>
    <h2>What you want to buy</h2>
    <ol>
        <% allShirts.forEach((shirt) => { %>
            <% if (shirt.wantedToBuy) { %>
                <li><%= shirt.type %>; <%= shirt.color %>; <%= shirt.brand %>  </li>
            <% } %>
        <% }) %>
    </ol>
    <hr>
    <h2>What you DO NOT want to buy</h2>
    <ol>
        <% allShirts.forEach((shirt) => { %>
            <% if (!shirt.wantedToBuy) { %>
                <li><%= shirt.type %>; <%= shirt.color %>; <%= shirt.brand %>  </li>
            <% } %>
        <% }) %>
    </ol>
    
</body>
</html>